.kaufman__triangel{
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: 887px 887px;
  width: 887px;
  height: 887px;
  animation: rotation 20s linear infinite;
}
