:root {
  --bg-dark-l: #1f1f1f;
  --bg-dark-m: #f2f2f2;
  --blue: #2f80ed;
  --blue: #2f80ed;
  --black: #000;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


/*HEADER+++++++++++++++++++++++++++++++++++++++++++++  */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: var(--bg-dark-m);
  display: flex;
  align-items: center;

  /* выше установили ограничения для секции */
}

.logo {
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 10;
}

.header__titel {
  width: 730px;
  margin: 0 0 0 64px ;
  position: relative;
  z-index: 10;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitel {
  width: 388px;
  position: absolute;
  bottom: 39px;
  left: 64px;
  z-index: 10;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.header__link {
  color: var(--blue);
  margin-left: 4px;
}

.header__main-ilustration {
  width: 768px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: var(--blue);
  position: absolute;
  right: 0;
  top: 64px;

}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* DESCRIPTION+++++++++++++++++++++++++++++++++++++++++++++*/

.description {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}
.content__description {

}
.tow-columns {
  display: flex;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;

}
.tow-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: var(--blue);

}
.tow-columns__main-text {
  width: 80%;
}
.tow-columns__paragraph {
  line-height: 24px;
  font-size: 24px;
  font-weight: 400;
}

.tow-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.tow-columns__span-accent {
  line-height: 24px;
  font-size: 24px;
  font-weight: 600;
}

/*  DIGITS++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.digits__section-titel,.digits__section-subtitel{
  width: 60%;
  margin: 0 auto;
}

.digits__table{
  width: 1100px;
  margin: 0 auto;
}

.table__heading, .table__text {
  list-style: none;
}

.table__text:nth-child(2n),.table__text:nth-child(3n){
  margin-top: 20px;
}

.digits {
  padding: 100px 0;
}
.section-titel {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}
.section-subtitel {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.table {
  padding: 60px  0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px 0;

}
.table__cell {
  padding: 0;
  margin: 0;
  flex-basis: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

